# --- Virtual Host 1: Main App ---
192.168.1.113, localhost, http://cache-server.francvok.from.hr {
    
    @special_paths {
        path /ws* /api/v1/deploy/log/*
    }

    # Proxy for the special paths (WebSockets & Logs)
    reverse_proxy @special_paths cache-server:54321 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto "https"
        header_up Connection "Upgrade"
        header_up Upgrade "websocket"
        
        transport http {
            read_timeout 36000s
            write_timeout 36000s
        }
    }

    # Proxy everything else to the main app
    reverse_proxy cache-server:12345 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto "https"

        transport http {
            read_timeout 36000s
            write_timeout 36000s
        }
    }
}

# --- Virtual Host 2: Test App ---
test.192.168.1.113, test.localhost, test.192.168.1.113.nip.io, test.cache-server.francvok.from.hr {
    
    reverse_proxy cache-test-node:23455 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-Proto "https"

        transport http {
            read_timeout 36000s
            write_timeout 36000s
        }
    }
}
